<form action="/" method="post" enctype="multipart/form-data">
    <h3>画像をアップロードする</h3>
    <input type="file" name="imageFile" accept="image/*">
    <input type="submit" />
</form>

<div>
    <p>↓に保存された画像が出力されます。</p>
    <img src="ajisailogo2.jpg" alt="">
</div>