<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>SAMPLE</title>
  <link rel="stylesheet"  href="css/style.css">
</head>
<body>
  <form action="/save-data" method="POST">
    <input type="text" name="name" placeholder="Name">
    <input type="email" name="email" placeholder="Email">
    <button type="submit">Save Data</button>
  </form>
  
</body>
</html>
